[submodule "panda"]
	path = panda
 	url = ../../csouers/panda.git
  	branch = body_op
[submodule "opendbc"]
	path = opendbc
	url = ../../csouers/opendbc.git
	branch = body
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../csouers/cereal.git
	branch = body
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
