[submodule "panda"]
	path = panda
	url = ../../csouers/panda.git
  branch = teslaradar_fake
[submodule "opendbc"]
	path = opendbc
	url = ../../csouers/opendbc.git
        branch = wheel_ticks
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../csouers/cereal.git
	branch = max_readers
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
